$font-sans: "Oswald", sans-serif;
$font-body: serif;

$gold: #F6BD18;
$yellow: #FFDC11;
$lime: #B8BD35;
$peach: #F48875;
$pink: #B1245A;
$grey: #C1B8AE;
$white: #FFF;
$charcoal: #545251;

.button1 {
  height: 55px;
  background-color: $grey;
}

.button1 p {
  font-family: $font-sans;
  color: $white;
  width: 188px;
  text-align: center;
  float: left;
}
