<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio Site Production</title>

    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,400italic,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/mixin.scss" media="all">
    <link rel="stylesheet" href="css/global.css" media="all">

    <link rel="stylesheet" href="css/html5reset.css" media="all">
    <link rel="stylesheet" href="css/col.css" media="all">
    
    <link rel="stylesheet" href="css/12cols.css" media="all">

</head>

<body style='background-color:#FFDC11;position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>

<div class="outer-container" style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
    <div class="content header">
        <div class="heading">
            <div class="header-block"></div>

            <div class="media col span_3_of_12">
                <a href="http://www.behance.net/sarahdriban"><img src="http://sarahdriban.com/site2/img/logo-be.png" class="social original"><img src="http://sarahdriban.com/site2/img/logo-be-pink.png" class="social pink"></a>
                <a href="http://www.linkedin.com/in/sarahdriban"><img src="http://sarahdriban.com/site2/img/logo-in.png" class="social original"><img src="http://sarahdriban.com/site2/img/logo-in-pink.png" class="social pink"></a>
                <a href="http://www.linkedin.com/in/sarahdriban"><img src="http://sarahdriban.com/site2/img/logo-mail.png" class="social original"><img src="http://sarahdriban.com/site2/img/logo-mail-2.png" class="social pink"></a>
            </div><!--END media-->

            <div></div>

        </div><!-- end heading -->

        <div class="home section group">
            <div class="col span_2_of_12"></div>
            <p class="title col span_8_of_12">Sarah Driban</p>
            <div class="col span_2_of_12"></div>
        </div><!-- end home -->
    </div><!-- end content -->
</div><!-- end outer-container -->

</body>
</html>